# gem packaging
/pkg/*
/*.gem
# ruby version management
/.rvmrc
/.rbenv-*
/.ruby-version
/.gems
# bundler
/.bundle/
/Gemfile.lock
# documentation, artifacts and configs
/html
/doc
/.yardoc
/coverage
/.rspec
